[data-theme="h"] #slides {
    perspective: 1000px;
}


[data-theme="h"] .slide-frame {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
}

[data-theme="h"] .slide-frame-incoming {
    animation: flip-in 0.8s ease-in-out both;
    z-index: 2;
}

[data-theme="h"] .slide-frame-outgoing {
    animation: flip-out 0.8s ease-in-out both;
    z-index: 1;
}

@keyframes flip-in {
    from { transform: rotateY(90deg); }
    to   { transform: rotateY(0deg); }
}

@keyframes flip-out {
    from { transform: rotateY(0deg); }
    to   { transform: rotateY(-90deg); }
}

[data-theme="h"] figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    color: white;
    padding: 0.5em 1em;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 0 5px 0 0;
}

[data-theme="h"] figcaption span {
    display: inline-block;
    opacity: 0;
    animation: typewriter 0.05s ease forwards;
}

@keyframes typewriter {
    to { opacity: 1; }
}