#main-page
{
    display: flex;
    justify-content: space-between;
}

#slide-show 
{
    width: 80%;
    display: flex;
    justify-content: center;
    height: 100vh;


}

#drop-zone
{
    height: 200px;
    width: 200px;
    border: 1px dashed gray;
    width: 100%;
    padding: 1em;

}

aside {
    margin-right: 5em;
}

img 
{
    max-width: 100%;
}