[data-theme="b"] .slide-frame {
    position: absolute;
    inset: 0;
    overflow: hidden;
}

[data-theme="b"] .slide-frame-outgoing {
    z-index: 1;
    animation: theme-b-push-out 1s ease-in-out both;
}

[data-theme="b"] .slide-frame-incoming {
    z-index: 2;
    animation: theme-b-push-in 1s ease-in-out both;
}

[data-theme="b"] .slide-frame figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: aliceblue;
    padding: 0.5em;
    border: 1px solid black;
    border-radius: 0 5px 0 0;
}

/* Caption only animates its opacity */
[data-theme="b"] .slide-frame-incoming figcaption {
    opacity: 0;
    animation: caption-show .2s linear 300ms forwards;
}

[data-theme="b"] .slide-frame-outgoing figcaption {
    opacity: 1;
    animation: caption-hide .2s linear forwards;
}

@keyframes theme-b-push-in {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes theme-b-push-out {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

@keyframes caption-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes caption-hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}