*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    font-family: system-ui, sans-serif;
}

#main-page
{
    display: flex;
    height: 100vh;
}

#slide-show 
{
    flex: 1;
    position: relative;
    overflow: hidden;
}

aside 
{
    width: 300px;
    padding: 1em;
}

aside section 
{
    margin-bottom: 2em;
}

/* drop zone  */
#drop-zone input[type="file"]
{
    display: block;
    height: 200px;
    width: 200px;
    border: 2px dashed gray;
    background-color: lightgray;
    border-radius: 5px;
}

/* slide frame */
.slide-frame 
{
    position: absolute;
    inset: 0;
}

.slide-frame img 
{
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}

.slide-frame figcaption 
{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: white;
    padding: 0.5em;
    border-radius: 0 5px 0 0;
}

/* thumbnails */
#thumbnails 
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px,1fr));
}

#thumbnails img 
{
    height: 80px;
    width: 80px;
    aspect-ratio: 1;
    border: 2px solid transparent;
}

#thumbnails img.active 
{
    border-color: blue;
}