*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body 
{
    font-family: system-ui, sans-serif;
}

#main-page 
{
    display: flex;
    height: 100vh;

}

#slide-show 
{
    position: relative;
    flex: 1;
}

aside 
{
    width: 300px;
    gap: 4px;
    padding: 1em;

}

/* slide show */

.slide-frame 
{
    position: absolute;
    inset: 0;
}

.slide-frame img 
{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slide-frame figcaption 
{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    border-radius: 0 5px 0 0;
    padding: 0.5em;
}

/* drop zone  */
#drop-zone input[type="file"]
{
    display: block;
    height: 200px;
    width: 100%;
    border: 2px dashed gray;
    background-color: lightgray;
    padding: 1px;
}

/* thumbnails */
#thumbnails
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px,1fr));
    gap: 4px;
    margin-top: 1em;
}

#thumbnails img 
{
    width: 60px;
    aspect-ratio: 1;
    height: 60px;
    object-fit: cover;
    border: 2px solid transparent;
}

#thumbnails img.active 
{
    border-color: blue;
}

section 
{
    margin-bottom: 1em;
}