*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  
}


#main-dashboard {
    min-height: 100vh;
}






/* Greeting */
.greeting p 
{
    color: rgb(0, 0, 194);
}
.greeting 
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.greeting h1 
{
    font-size: medium;
    font-weight: 500;
}

.greeting p 
{
    font-size: 25px;
    font-weight: bold;
}

/* Cards */
.cards 
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.card 
{
      
 
    border: 1px solid silver;
    width: 50%;
    height: 100px;
    max-height: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.5);
    margin-top: 1em;
    background-color: #fff;
    

}


.card:nth-of-type(1)
{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: center;
    padding-left: 0.5em;
    border-left: 5px solid blue;
  

    p 
    {
        font-weight: 500;
    }
}

.card:nth-of-type(2)
{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: center;
    padding-left: 0.5em;
    border-left: 5px solid red;

   
}

.card p:nth-of-type(1)
{
    font-weight: bold;
    font-size: 20px;
}

/* Horizontal Cards */
.horizontal-cards 
{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width:100%;
    margin: 1em 0;

    
}

.hori-card 
{
    border: 1px solid silver;


    margin-top: 1em;
    border-radius: 5px;
    height: 50px;
}

#completed-task 
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 5px solid green;
    background-color: #fff;
   
    
}

.check-completed 
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;

}

.hori-card#completed-task > p 
{
    font-weight: bold;
    font-size: 2em;
    margin-left: 2em;
}

#edit-task
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: rgb(0, 0, 194);
    color: white;
}

/* Lower Dashboard */

#studyImg 
{
    height: 125px;
    width: 125px;
    border-radius: 50%;
    border: solid 3px #fff;
    clip-path: circle();
    shape-outside: circle();
    float: left;
    margin: 0 2em 0.5em 0;
    
}

.lower-dashboard
{
    display: flex;
    flex-direction: column;
    gap: 1em;
    
}

#plan-better 
{
    border: 1px solid silver;
    padding: 1em;
    background-color: #cee1fd;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.5);

    h2 
    {
        text-align: center;
        font-size: 30px;
        color: rgb(0, 0, 194);
    }
}

/* Study tip */

#study-tip 
{
    background-color: rgb(255, 213, 198);
    height: 150px;
    width: 100%;
    margin-bottom: 4em;
    display: flex;
    flex: wrap;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    gap: 1em;
    padding: 1em;
    margin-bottom: 7em;
   
}

#tip 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 13px;

}

#tip-title
{
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1em;
}

/* Blank Arrow */
#blank-arrow 
{
    margin-top: 2em;
}


/* light bulb background */
#light-background
{
    background-color: rgb(235, 224, 205);
    padding: 0.5em;
    border-radius: 50%;
}


/* Add task  */
#add-task 
{
    font-weight: 700;
}

/* plan better font */
#plan-better > h2 
{
    font-weight: 700;
    margin-bottom: 0.5em;
}