*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body 
{
    font-family: Arial, Helvetica, sans-serif;
}

img,video 
{
    width: 100%;
}

.container 
{
    width: 80%;
    margin: 0 auto;
}

h1{
    font-size: 1em;
}

h2 
{
    text-align: center;
}

li 
{
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Header */
header 
{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    padding: 2em 1em;

    .container {
        display: flex;
        justify-content: space-between;
        line-height: 2em;
    }

    ul 
    {
        display: flex;
        gap: 2em;
    }
}

#callToAction 
{
    background: url(../images/cover.jpg) center/cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 759px)
{
    #callToAction {
        background: url(../images/cover-low-res.jpg);
    }
}

#cto 
{
    position: relative;
    border: 2px solid transparent;
    background-color: white;
    padding: 2em;
    border-radius: 10px;
    font-size: 1em;
}

.map 
{
    h2{margin: 2em 0};
    .container 
    {
        position: relative;
    }

    .mapAttraction
    {
        position: absolute;
        top: 50%;
        left: 1em;
        transform: translateY(-50%);
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        gap: 1em;

        .attractionCard {
            width: 45%;
            padding: 0.5em;
            background-color: white;
            text-align: center;
            box-shadow: 0 0 5px rgba(0,0,0,.3);
        }
    }

    .mapMarkers
    {
        position: absolute;
        inset: 0;
        pointer-events: none;
        
        .marker 
        {
            position: absolute;
            height: 30px;
            width: 30px;
            background-color: rgb(255, 111, 111);
            border-radius: 50% 50% 50% 0;
            transform: rotate(-45deg);
            display: flex;
            justify-content: center;
            align-items: center;
            pointer-events: auto;
        }

        span 
        {
            display: block;
            transform: rotate(45deg);
        }
    }
}   


/* Essential and Events */
#essentialNevents 
{
    display: flex;
    margin-bottom: 2em;
    padding: 4em 0;

    > div 
    {
        width: 50%;
    }

    .essentialInfo
    {
        display: flex;
        flex-direction: column;
        line-height: 3em;
    }

    #readLoud{
        background-color: rgb(66, 66, 255);
        text-align: center;
        color: white;
        max-width: 200px;
        border-radius: 5px;
    }

    #latestEvents .eventsCard 
    {
        display: flex;
        overflow-x: auto;
        border: 2px solid gray;
        border-radius: 5px;
        padding: 1em;
        gap: 0.5em;
    }

    .eventsCard figure 
    {
        min-width: 300px;
        padding: 1em;
        border: 1px solid black;
        border-radius: 5px;
    }
}


/* Contact Form */
#contactForm 
{
    h2{
        position: relative;
        top: 1.2em;
        margin: auto;
        background-color: white;
        border: 2px solid gray;
        padding: 1em;
        max-width: 300px;
    }

    form{
        border: 2px solid gray;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr 3fr;
        line-height: 2em;
        padding: 4em 2em;
        gap: 5em;
    }
}

/* Footer  */
footer 
{
    border-top: 2px solid gray;
    margin-top: 2em;
    padding-top: 2em;
    background-color: rgb(209,206,206);
    p{
        text-align: center;
    }

    a{
        color: rgb(83, 81, 81);
    }

    nav 
    {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        line-height: 2em;
        padding: 2em;
        margin: 2em;
    }
}