*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app
{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-bottom: 1px solid #ccc;
}

header h1 
{
    flex: 1;
    text-align: center;
}

#backBtn 
{
    font-size: 1.5em;
    padding: 5px 10px;
}

.mainContent 
{
    flex: 1;
    padding: 1em;
    overflow-y: auto;
}

.navBar 
{
    display: flex;
}

.navBar button 
{
    flex: 1;
    padding: 1em;
    background: none;
    border: none;
    border-top: 1px solid #ccc;
}

.navBar button.active 
{
    background-color: blue;
    color: white;
}

/* LI for carparks, events and weather */
li 
{
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 1em;
    border: 1px solid black;
    border-radius: 5px;
}