*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body 
{
    font-family: Arial, Helvetica, sans-serif;
}

.container 
{
    margin: 0 auto;
    width: 80%;
}

img,video 
{
    width: 100%;
}

h1 
{
    font-size: 1em;
}

h2 
{
    text-align: center;
}
li 
{
    list-style-type: none;
}
a {
    text-decoration: none;
}

/* header */
header 
{
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #ccc;
    backdrop-filter: blur(5px);
    padding: 1em;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
}
header .container
{
    display: flex;
    justify-content: space-between;
    line-height: 3em;
}

header ul
{
    display: flex;
    gap: 3em;
}

/* call to action */

#callToAction 
{
    background: url(/images/cover.jpg) center/cover;
    height: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;

    #cto 
    {
        background-color: white;
        padding: 2em;
        border-radius: 5px;
        text-align: cen;
    }
}


@media (max-width: 759px)
{
    #callToAction 
    {
        background-image: url(/images/cover-low-res.jpg);
    }
}

/* Map attraction*/
#mapAttraction 
{
    h2 
    {
        font-size: 5em;
        margin: 1em;
    }
    .container 
    {
        position: relative;
    }
    .attractions
    {
        position: absolute;
        top: 50%;
        left: 1em;
        transform: translateY(-50%);
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        gap: 1em;   

        .attractionCard 
        {
            width: 45%;
            padding: 0.5em;
            text-align: center;
            background-color: white;
            border-radius: 5px;
            box-shadow: 0 0 3px rgba(0,0,0,.3);
        }
    }

    .mapMarkers 
    {
        position: absolute;
        inset: 0;
        pointer-events: none;
        .marker 
        {
            position: absolute;
            background-color: rgb(253, 142, 142);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.5em;
            border-radius: 50% 50% 50% 0;
            transform: rotate(-45deg);
            pointer-events: auto;
            cursor: pointer;
            height: 30px;
            width: 30px;

            span 
            {
                display: block;
                transform: rotate(45deg);
            }
        }
    }
}

#essentialNevents 
{
    display: flex;
    >div 
    {
        width: 50%;
    }
    .essentialInfo 
    {
        display: flex;
        flex-direction: column;
        line-height: 3em;
    }
    #readLoud 
    {
        background-color: blue;
        max-width: 200px;
        text-align: center;
        color: white;
        border-radius: 5px;
        padding: 1em;
        cursor: pointer;
    }

    #latestEvents .eventCards
    {
        display: flex;
        border: 2px solid gray;
        overflow-x: scroll;
        padding: 1em;
        margin: 1em;
        gap: 1em;

        figure 
        {
            min-width: 300px;
            padding: 0.5em;
            text-align: center;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 3px rgba(0,0,0,.3);
        }
    }    
}

/* Hover effect */
.focus, .attractionCard:hover, .eventCards figure:hover 
{
    position: relative;
    transform: scale(1.05);
    overflow: hidden;
    transition: transform .3s ease-in-out;
}

.focus::before, .attractionCard:hover::before, .eventCards figure:hover::before 
{   
    content: "";
    position: absolute;
    top: -10%;
    left: -70%;
    height: 120%;
    width: 50%;
    background: linear-gradient(0, transparent, rgba(255,255,255,.9));
    transform: rotate(15deg);
    animation: shine .4s forwards;
}

@keyframes shine {
    from{left: -70%}
    to{left: 110%}
}


/* Reviews */
#reviewSlides
{
    position: relative;
    height: 300px;
    margin-top: 2em;
}

.reviewCard 
{
    position: absolute;
    top: 0;
    left: 50%;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 1.5em;
    transition: transform .35s ease, opacity .35s ease
}

.center 
{
    transform: translateX(-50%) scale(1.1);
    z-index: 2;
    opacity: 1;
}

.left 
{
    transform: translateX(calc(-50% - 320px)) scale(.85);
    z-index: 1;
    opacity: 0.5;
}

.right 
{
    transform: translateX(calc(-50% + 320px)) scale(.85);
    z-index: 1;
    opacity: 0.5;
}

.hidden 
{
    opacity: 0;
    pointer-events: none;
}


.reviewControls 
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

#prev,#next
{
    border: none;
    background: none;
    width: 100px;
    height: 50px;
    background-color: green;
    border-radius: 12px;
    color: white;
    border: 1px solid black;
}

#prev:hover:not(:disabled),#next:hover:not(:disabled){
    background-color: royalblue;
}

#prev:active:not(:disabled),#next:active:not(:disabled){
    background-color: darkblue;
}
#prev:disabled, #next:disabled 
{
    opacity: .5;
    cursor: not-allowed;
}



/* Contact Form */
#contactForm 
{
    h2 
    {
        position: relative;
        top: 1.2em;
        margin: auto;
        border: 2px solid #ccc;
        background-color: white;
        max-width: 300px;
        padding: 1em;
    }

    form 
    {
        border: 2px solid #ccc;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr 3fr;
        padding: 4em;
        line-height: 3em;
        gap: 5em;
    }
}

/* footer */

footer 
{
    border-top: 2px solid #ccc;
    margin-top: 2em;
    padding-top: 2em;
    background-color: rgb(233, 233, 233);
    a 
    {
        color: rgb(51, 51, 51);
    }
    p 
    {
        text-align: center;
    }

    nav 
    {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        line-height: 3em;
        align-items: center;
        padding: 1em;
        margin: 1em;
    }
}