#main-page 
{
    display: flex;
    justify-content: space-between;
    
}

#slide-show 
{
    width: 80%;
    height: 100vh;
    position: relative;
    overflow: hidden;

}

aside 
{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 20%;
}

#drop-zone 
{
    border: 1px dashed black;
    height: 300px;
    width: 100%;
    padding: 1em;
}

#slide-show img 
{
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-right: 1em;
}

figure 
{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
}

#slide-show figcaption 
{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: aliceblue;
    padding: 0.5em;
    border: 1px solid black;
    border-radius: 0 5px 0 0;

}

aside button, select 
{
    width: 50%;
}

#drop-zone.dragging 
{
    background-color: lightblue;
}



#draggable-image 
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(72px, 1fr));
    gap: 0.75em;
}

#draggable-image img 
{
    object-fit: cover;
    aspect-ratio: 1;
    display: block;
    width: 100%;
    cursor: pointer;
}

#draggable-image img.active 
{
    border: 2px solid blue;
}